body {
    font-family: '微軟正黑體', sans-serif;
    background-color: #F7F2E6; /* 米色系 */
}

.random {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    border-bottom: 1px solid #007A63; /* 更深的蟹青色 */
}

.random .container {
    text-align: center;
    padding: 2rem;
    background-color: #E3F2F9; /* 月白色 */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    max-width: 600px;
    max-height: 100vh;
    width: 90%;
    margin-bottom: 2rem;
}

.random h1 {
    color: #007A63; /* 深蟹青色 */
    margin-bottom: 2rem;
}

.random #result {
    font-size: 2rem;
    margin: 1rem 0;
    min-height: 2em;
    color: #D85D8D; /* 濃桃紅色 */
    font-weight: bold;
}

.random #menuImage {
    margin: 0 auto;
    max-width: 100%;
    max-height: 400px;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px;
    border: 2px solid #B7E3E5; /* 淺月白 */
}

.random button {
    margin-top: 20px;
    background-color: #E43B57; /* 牡丹紅 */
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.random button:hover {
    background-color: #C32A41; /* 深牡丹紅 */
}

.random #lock {
    margin-left: 30px;
}

.random #lock:hover {
    transform: scale(1.1);
    cursor: pointer; /* 修正游標樣式 */
}

/* 點餐區的樣式 */
.order {
    padding: 2rem;
    background-color: #E3F2F9; /* 月白色 */
    border-radius: 10px;
    max-width: 600px;
    margin: 2rem auto; /* 自動居中 */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.order h4 {
    color: #007A63; /* 深蟹青色 */
    margin-bottom: 1rem;
}

.order label {
    display: block;
    margin: 1rem 0;
    color: #333; /* 深色文字 */
}

.order input, .order select {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    border: 1px solid #B7E3E5; /* 淺月白邊框 */
    border-radius: 5px;
}

.order button {
    background-color: #E43B57; /* 牡丹紅 */
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order button:hover {
    background-color: #C32A41; /* 深牡丹紅 */
}
